{% extends 'base.html.twig' %}
{% block body %}   
    <article>
        <center>
        <h2> {{ article.title }}</h2>
        <div class="metadata">
            Ecrit le {{ article.createdAt | date('d/m/y') }} à {{ article.createdAt | date('H:i') }}
            Dans la category {{ article.category.title }}
        </div>
        <div class="content">
        <img src="{{ article.image }}" alt="">
            {{ article.content | raw }}
        </div>
        </center>
    </article>
    <hr style="border-top: 1px solid">
    <center> <h1> Commentaires </h1></center>
    <hr style="border-top: 1px solid">
    <section id="commentaires">
        {% for comment in article.comments %}
            <div class="comment">
                <div class="row">
                    <div class="col-3">
                        <b style="color: red;">   {{ comment.author }}  </b>(<small> {{ comment.createdAt | date('d/m/y  à H:i') }}</small>)
                    </div>
                    <div class="col">
                        {{ comment.content | raw  }}
                    </div>
                </div>
                <hr>
            </div>
        {% endfor %}
        <hr>
    </section>
{% endblock %}